<div class="container mt-3">
  <form>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        [(ngModel)]="producto.nombre"
      />
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea
        class="form-control"
        id="descripcion"
        name="descripcion"
        [(ngModel)]="producto.descripcion"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="precioVenta">Precio de venta:</label>
      <input
        type="number"
        class="form-control"
        id="precioVenta"
        name="precioVenta"
        [(ngModel)]="producto.precioVenta"
      />
    </div>
    <div class="form-group">
      <label for="costo">Costo:</label>
      <input
        type="number"
        class="form-control"
        id="costo"
        name="costo"
        [(ngModel)]="producto.costo"
      />
    </div>
    <div class="form-group custom-checkbox">
      <div class="form-check">
        <label class="form-check-label" for="estado">Estado: </label>
        <input
          type="checkbox"
          class="form-check-input mx-2"
          id="estado"
          name="estado"
          [(ngModel)]="producto.estado"
        />
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-3"
      (click)="crearProducto()"
    >
      Crear producto
    </button>
    <hr />
  </form>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio de venta</th>
        <th scope="col">Costo</th>
        <th scope="col">Estado</th>
        <th scope="col">Editar/Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precioVenta }}</td>
        <td>{{ producto.costo }}</td>
        <td>{{ getEstadoProducto(producto.estado) }}</td>
        <td>
          <button
            class="btn btn-danger mx-2"
            (click)="eliminarProducto(producto)"
          >
            Eliminar
          </button>
          <button
            class="btn btn-primary"
            (click)="editarProducto(producto)"
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              [(ngModel)]="productoSeleccionado.nombre"
            />
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea
              class="form-control"
              id="descripcion"
              name="descripcion"
              [(ngModel)]="productoSeleccionado.descripcion"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="precioVenta">Precio de venta:</label>
            <input
              type="number"
              class="form-control"
              id="precioVenta"
              name="precioVenta"
              [(ngModel)]="productoSeleccionado.precioVenta"
            />
          </div>
          <div class="form-group">
            <label for="costo">Costo:</label>
            <input
              type="number"
              class="form-control"
              id="costo"
              name="costo"
              [(ngModel)]="productoSeleccionado.costo"
            />
          </div>
          <div class="form-group custom-checkbox">
            <div class="form-check">
              <label class="form-check-label" for="estado">Estado:</label>
              <input
                type="checkbox"
                class="form-check-input mx-2"
                id="estado"
                name="estado"
                [(ngModel)]="productoSeleccionado.estado"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="guardarCambios()"
        >
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>
